.login-form {
  max-width: 500px;
  margin: 50px auto;

  .panel-body {
    padding-top:30px;

    .checkbox {
      float: left;
      label {
        padding-left: 20px;
      }
    }

    .find-password {
      float: right;
    }
  }

  .login-actions {
    a:hover {
      text-decoration: none;
    }
  }

  .public-login {
    text-align: center;
    img {
      max-width: 30px;
    }

    font-style: italic;
  }

  .forgot-password::before {
    content: '?';
    font-weight: 700;
    padding-right: 5px;
  }
}
