<div class="container">
  <div class="panel panel-common login-form" ng-if="isTokenValid">
    <div class="panel-heading">
      <div class="panel-title">
        <h2>Reset Password</h2>
      </div>
    </div>

    <div class="panel-body">
      <form role="form" name="signUpForm" novalidate>
        <div class="form-group"
             ng-class="{ 'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine }">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input autofocus type="password" ng-minlength="6" name="password" placeholder="Password" ng-model="newPassword" class="form-control" required>
          </div>
          <p ng-show="signUpForm.password.$error.minlength" class="help-block ng-hide">Invalid Password. Minimum Length is 6</p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : signUpForm.confirmPassword.$invalid && !signUpForm.confirmPassword.$pristine }">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input autofocus type="password" match="newPassword" name="confirmPassword" placeholder="Confirm Password"
                   ng-model="confirmPassword" ng-minlength="6" class="form-control" required>
          </div>
          <p ng-show="!signUpForm.confirmPassword.$pristine && !signUpForm.confirmPassword.$error.minlength && signUpForm.confirmPassword.$error.match" class="help-block ng-hide">The input password must be the same as above</p>
          <p ng-show="signUpForm.confirmPassword.$error.minlength" class="help-block ng-hide">Invalid Password. Minimum Length is 6</p>
        </div>
        <button id="btn-signUp" ng-click="changePassword(newPassword, confirmPassword)" ng-disabled="signUpForm.$invalid" class="btn btn-block btn-common">Save</button>
      </form>
    </div>
  </div>
    <div class="container error-panel" ng-if="!isTokenValid">
      <div class="section-inner">
        <a href="/" class="btn btn-link">Home</a>
        <h2>Sorry, the link has expired! <a href="/">Go home!</a></h2>
        <img class="img-responsive" src="/img/invalid-link.jpg" alt="404" />
      </div>
    </div>
</div>



