<div class="main-content user-page">
  <nav class="navbar navbar-inverse navbar-fixed-top set-list" role="navigation" id="main_menu">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-left collapsed" data-toggle="collapse" ng-click="isMenuCollapsed = !isMenuCollapsed;$parent.isUserMenuCollapsed = false" aria-expanded="false">
        <i class="glyphicon glyphicon-align-justify"></i>
      </button>
      <button class="navbar-toggle pull-right collapsed" ng-click="$parent.isUserMenuCollapsed = !$parent.isUserMenuCollapsed;isMenuCollapsed = false" aria-expanded="false">
        <i class="glyphicon glyphicon-user"></i>
      </button>
      <a class="navbar-brand hidden-xs" href="#/">
        <img ng-attr-alt="{{mainTitle || 'Common Web'}}" class="main-logo" src="/img/logo.png" />{{mainTitle || 'Common Web'}}
      </a>
      <div class="navbar-text visible-xs-block text-uppercase text-center" ng-bind="currentTitle">{{mainTitle || 'Common Web'}}</div>
    </div>
    <div id="main_nav_user_collapse"  uib-collapse="!isUserMenuCollapsed" class="collapse">
      <ul class="nav navbar-nav visible-xs" role="menu">
        <li ng-click="$parent.isUserMenuCollapsed = !$parent.isUserMenuCollapsed" ui-sref-active="active">
          <a ui-sref="dashboard.password"><i class="glyphicon glyphicon-wrench"></i> Change Password</a>
        </li>
        <li>
          <a ui-sref="authentication.signout" target="_self"><i class="glyphicon glyphicon-log-out"></i> Sign Out</a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li role="presentation" class="dropdown" uib-dropdown>
        <a class="dropdown-toggle" uib-dropdown-toggle href="javascript:void(0);" role="button" aria-expanded="false">
          <i class="glyphicon glyphicon-user"></i>
          <span ng-bind="auth.displayName"></span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ng-click="$parent.isUserMenuCollapsed = !$parent.isUserMenuCollapsed" ui-sref-active="active">
            <a ui-sref="changePassword"><i class="glyphicon glyphicon-wrench"></i> Change Password</a>
          </li>
          <li>
            <a ui-sref="authentication.signout" target="_self"><i class="glyphicon glyphicon-log-out"></i> Sign Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  </nav>
  <div class="container">
  <div class="panel panel-common">
    <div class="panel-heading">
      <div class="panel-title">
        <h2>User Information</h2>
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-hover responsive">
        <colgroup>
          <col style="width: 15%">
          <col style="width: 75%">
        </colgroup>
        <thead>
        <tr class="table-head">
          <th>
            Key
          </th>
          <th>
            Value
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>isAuth</td>
          <td ng-bind="userInfo.isAuth"></td>
        </tr>
        <tr>
          <td>provider</td>
          <td ng-bind="userInfo.provider"></td>
        </tr>
        <tr>
          <td>token_type</td>
          <td ng-bind="userInfo.token_type"></td>
        </tr>
        <tr>
          <td>expires_in</td>
          <td ng-bind="userInfo.expires_in"></td>
        </tr>
        <tr>
          <td>created</td>
          <td ng-bind="userInfo.created"></td>
        </tr>
        <tr>
          <td>firstName</td>
          <td ng-bind="userInfo.firstName"></td>
        </tr>
        <tr>
          <td>middleName</td>
          <td ng-bind="userInfo.middleName || 'None'"></td>
        </tr>
        <tr>
          <td>lastName</td>
          <td ng-bind="userInfo.lastName"></td>
        </tr>
        <tr>
          <td>displayName</td>
          <td ng-bind="userInfo.displayName"></td>
        </tr>
        <tr>
          <td>_id</td>
          <td ng-bind="userInfo._id"></td>
        </tr>
        <tr>
          <td>email</td>
          <td ng-bind="userInfo.email"></td>
        </tr>
        <tr>
          <td>roles</td>
          <td>
            <span ng-repeat="role in userInfo.roles">
              <span ng-bind="role"></span>
            </span>
          </td>
        </tr>
        <tr>
          <td>user_id</td>
          <td ng-bind="userInfo.user_id"></td>
        </tr>
        <tr>
          <td>profileImageURL</td>
          <td ng-bind="userInfo.profileImageURL"></td>
        </tr>
        <tr>
          <td>token</td>
          <td ng-bind="userInfo.token"></td>
        </tr>
        <tr>
          <td>refreshToken</td>
          <td ng-bind="userInfo.refreshToken"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>