.blog-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/img/background-0.png");
  position: relative;
  height: 300px;
  h1.blog-tittle {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 20%;
    right: 20%;
    color: rgba(255, 255, 255, 0.6);
  }
}

@media only screen and (max-width: 580px) and (min-width: 0) {
  .blog-box {
    height: 150px;
  }
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol, dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  //border: 1px solid #eee;
  //position:relative;
  padding: 50px;
  .banner {
    color: #fff;
  }
  .banner-lt {
    top: 0;
    float: left;
    width: 66%;
    position: relative;
    transition: all .15s;
    &:hover {
      top: -5px;
      box-shadow: 0px 5px 20px #666;
    }
    img {
      width: 100%;
    }
    .over-modal {
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.5);
      .tag-top {
        color: #e67e22;
      }
      h1 {
        a {
          color: #fff;
          font-size: 42px;
          line-height: 1.5em;
        }
      }
      .tag-bottom {
        margin-top: 10px;
        p:first-child {
          float: left;
          font-size:12px;
          span:first-child{
            color:#e67e22;
          }
        }
        p:last-child {
          float: right;
          a {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .banner-rt {
    float: right;
    width: 33%;
    .banner-rt-top,.banner-rt-bottom{
      width:100%;
      top: 0;
      position: relative;
      transition: all .15s;
      &:hover {
        top: -5px;
        box-shadow: 0px 3px 10px #666;
      }
      img {
        width: 100%;
      }
      .over-modal {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 18px;
        background-color: rgba(0, 0, 0, 0.5);
        .tag-top {
          margin-bottom:5px;
          color: #e67e22;
        }
        h1 {
          font-size:20px;
          line-height:20px;
          a {
            color: #fff;
            font-size: 18px;
            //line-height: 0.5em;
          }
        }
        .tag-bottom {
          margin-top: 10px;
          p:first-child {
            float: left;
            font-size:12px;
            span:first-child{
              color:#e67e22;
            }
          }
          p:last-child {
            float: right;
            a {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .content{
    position:relative;
    margin-top:50px;
    .lt{
      width:740px;
      margin-right:360px;
      min-height:2700px;
      position:relative;
      .box.ng-leave{
        display:none;
      }
      .box.ng-enter{
        transition:all .5s linear;
        opacity:0;
      }
      .box.ng-enter-active{
        opacity:1;
      }
      .box{
        position:relative;
        left:0;
        padding:20px;
        margin:20px 0;
        border-bottom:1px solid #d9dde1;
        transition:all 0.15s;
        &:hover{
          background-color:#eee;
          left:-50px;
        }
        h2{
          a{
            color:#000;
            &:hover{
              color:#e67e22;
            }
          }
        }
        .media{
          a{
            img{
              width:210px;
              height:130px;
            }
          }
          .media-body{
            color:#787d82;
          }
        }
        .tag-bottom {
          margin-top: 10px;
          p:first-child {
            float: left;
            font-size:12px;
            span:first-child{
              color:#e67e22;
            }
          }
          p:last-child {
            float: right;
            a {
              margin-right: 10px;
            }
          }
        }
      }
    }
    .rt{
      width:280px;
      position:absolute;
      right:0;
      top:0;
      .box{
        position:relative;
        height:215px;
        margin:20px 0;
        box-shadow:0px 5px 10px #ddd;
        overflow:hidden;
        transition:all 0.15s;
        &:hover{
          box-shadow:0px 5px 10px #666;
          .aside-modal{
            top:20%;
          }
        }
        a{
          img{
            //position:relative;
            //z-index:10;
            width:100%;
          }
        }
        .aside-modal{
          position:absolute;
          width:100%;
          height:215px;
          background-color:rgba(255,255,255,0.9);
          z-index:10;
          padding:15px;
          top:56%;
          transition:all .15s;
          h3{
            font-size:16px;
            a{
              font-weight:bold;
              color:#000;
              white-space:nowrap;
            }
          }
          p{
            margin-top:20px;
            padding:0 10px;
            color:#787d82;
          }
        }
        .aside-bottom{
          width:100%;
          position:absolute;
          z-index:20;
          margin-top: 10px;
          bottom:0;
          padding:15px;
          background-color:#fff;
          p:first-child {
            float: left;
            font-size:12px;
            color:#787d82;
            span:first-child{
              color:#e67e22;
            }
          }
          p:last-child {
            float: right;
            a {
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}