.project-plan {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/img/background-6.png");
  position:relative;
  height:300px;
  h1.projectPlain-tittle{
    position:absolute;
    text-align: center;
    top:50%;
    left:20%;
    right:20%;
    color:rgba(255,255,255,0.6);
  }
}
.send-project {
  padding: 2% 0;
  margin-bottom:2em;
  .info {
    color: #e1704b;
  }
  fieldset{
    margin-bottom:1em;
    .form-group{
      .form-control-wrapper{
        height:4.5em;
        .validateMessage{
          margin-top:0em;
          padding:.2em;
          text-align: right;
          color:#e1704b;
        }
        .projectPlan-message{
          resize : none;
          height:7em;
          margin-bottom: 0.5em;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #757575;
        }
        input, select {
          margin-bottom: 0.5em;
          padding: 0 0.9em;
          border:none;
          border-radius: 0;
          border-bottom:1px solid #757575;
        }
      }
    }
  }
  .operation-btn{
    //margin-top:6em;
  }
}

.project-wrap {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  max-width: 1140px;
  position: relative;
}

.bigradioholder {
  width: 5%;
  background: #fff;
  font-size: 1em;
  color: #666;
  -o-transition: .1s ease-out;
  -ms-transition: .1s ease-out;
  -moz-transition: .1s ease-out;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
  cursor: pointer;
}

.bigradioholder:hover {
  background-color: #eee;
}

.pro-col1, .pro-col2 {
  margin: 0;
  width: 100%;
  text-align: left;
  padding: 0;
}

.pro-col1 {
  float: left;
}

.pro-col2 {
  float: right;
}

/* Smartphones ----------- */
@media only screen and (max-width: 580px) and (min-width: 0) {
  .project-plan{
    height:150px;
    h1.projectPlain-tittle{
      left:10%;
      right:10%;
    }
  }
  .send-project {

    .form-group {
      width: 90%;
      height: auto;
      float: none;
      margin: 0 auto;
      padding: 0;
    }
    .operation-btn{
      margin-top:5em;
    }
  }
}
@media only screen and (max-width:768px) and (min-width:0){
  .send-project{
    .operation-btn{
      margin-top:4em;
    }
  }
}



