.management {
  h3 {
    font-size:1em;
    margin: 0 0 10px;
    text-align: left;
  }

  .management-list{
    width: 26%;
    float: left;
    border-right: 1px solid @commonBorder;

    .input-group {
      .input-group-addon {
        border-radius: 0;
      }
      .form-control:last-child {
        border-radius: 0;
      }
      &:first-child {
        .input-group-addon {
          border-top-left-radius: 4px;
        }
        .form-control:last-child {
          border-top-right-radius: 4px;
        }
      }
    }

    .actions {
      padding: 10px 15px;
      text-align: center;

      .search-text {
        margin-top: 15px;
      }
    }
  }

  .management-details{
    width: 74%;
    float: left;
    border-left: 1px solid @commonBorder;
  }

  .management-content{
    padding: 0 1%;

    .sub-title{
      padding: 30px 0;
      border-bottom: 1px @commonBorder dashed;
      list-style: none;
      .name{
        float: left;
      }
      button{
        float: right;
        margin-bottom: 10px;
      }
      .annotation{
        display: inline-block;
      }
      .filter-program-form{
        padding: 15px 0;
      }
    }
  }

  .list-group-item {
    cursor: pointer;
    background: @navBoxInactive;
    border-style:solid;
    border-color:  @commonBorder;
    border-width: 1px 0;
    border-radius: 0;


    &.active {
      background: @navBoxActive;
      &:hover, &:focus {
        background: @navBoxActive;
        border-color: @listGroupActiveBorder;
        .list-group-item-heading{
          color: @black;
          .preview{
            display: block;
          }
        }
        .list-group-item-text{
          color: @purple;
        }
      }
    }

    &:hover, &:focus {
      text-decoration: none;
      background-color: @navBoxHover;
    }

    .list-group-item-heading{
      color: @black;
      .program-name{
        float: left;
        padding: 0;
      }
      .preview{
        width: 35%;
        padding: 0;
        float: right;
        display: none;
        .fa-chevron-right{
          font-size: 12px;
        }
      }
      word-wrap: break-word;
    }

    .list-group-item-text{
      color: @purple;
      word-wrap: break-word;
    }

    &:hover{
      .list-group-item-heading{
        .preview{
          display: inline-block;
        }
      }
    }
  }

  .list-group-item:first-child {
    border-top: 1px solid @listGroupActiveBorder;
  }

  .pagination{
    margin: 20px 0 !important;
  }
}
