<navigation>
    <div class="detail-we-are">
        <h1 class="about_us" translate="about_us"></h1>
    </div>
    <div class="container">
        <div class="wrap">
            <div class="about-box">
                <h2 class="about_love" translate="aboutlove"></h2>
                <div class="about-center">
                    <p translate="aboutlove_one" class="love_content"></p>
                </div>
            </div>
        </div>
        <!--counter-->
        <!--<script type="text/javascript">-->
            <!--$('.timer').countTo();-->
        <!--</script>-->
        <div class="row team-construct">
            <div class="col-md-3 col-sm-6 col-xs-12 ">
                <h1 class="timer" data-from="0" data-to="55" data-speed="3000" >55</h1>
                <p>Successful projects</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h1 class="timer" data-from="0" data-to="33" data-speed="3000">33</h1>
                <p>Team members</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h1 class="timer" data-from="0" data-to="5" data-speed="2000">5</h1>
                <p>Project managers</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h1 class="timer" data-from="0" data-to="15500" data-speed="4000">15500</h1>
                <p>Satisfied customers</p>
            </div>
        </div>
    </div>
    <section class="our-team">
        <div class="wrap">
            <h2 translate="our_team" class="meet_team"></h2>
            <!--<h3 translate="welove"></h3>-->
            <ul class="clearfix partners">
                <li ng-repeat="item in person track by item.number" class="col-md-3 col-sm-3 col-xs-6 our_partners">
                    <figure>
                        <img ng-cloak ng-cloak class="img-responsive"
                             ng-src="{{item.photo}}" class="partners_photo"/>
                    </figure>
                    <h3 ng-bind="item['first_name_'+loadLanguage]" class="partners_name"></h3>
                    <h4 ng-bind="item['position_'+loadLanguage]" class="partners_position"></h4>
                </li>
            </ul>
        </div>
    </section>
    <section id="flickrfeed" class="flickr-feed">
            <ul>
                <li ng-repeat="part in photos track by $index">
                    <a ng-href="{{part.link}}" target="_blank">
                        <img ng-cloak ng-src="{{part.media.m}}" ng-alt="{{part.title}}"
                             ng-title="{{part.title}}">
                    </a>
                </li>
            </ul>
    </section>
</navigation>
