<navigation>
    <section class="blog-box">
        <h1 class="blog-tittle" translate="blog"></h1>
    </section>
    <section class="wrapper">
        <div class="banner clear">
            <div class="banner-lt">
                <a href="">
                    <img ng-src="{{bannerTopData[0].img}}" alt="广告图">
                </a>
                <div class="over-modal">
                    <p class="tag-top" ng-bind="bannerTopData[0].label"></p>
                    <h1>
                        <a href="" ng-bind="bannerTopData[0].title"></a>
                    </h1>
                    <p ng-bind="bannerTopData[0].description">

                    </p>
                    <div class="tag-bottom clear">
                        <p>
                            <span class="glyphicon glyphicon-time"></span>
                            <span class="date" ng-bind="bannerTopData[0].date"></span>
                        </p>
                        <p>
                            <a href="" class="glyphicon glyphicon-thumbs-up"></a>
                            <a href="" class="glyphicon glyphicon-share"></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="banner-rt">
                <div class="banner-rt-top">
                    <a href="">
                        <img ng-src="{{bannerTopData[1].img}}" alt="picture">
                    </a>
                    <div class="over-modal">
                        <p class="tag-top" ng-bind="bannerTopData[1].label"></p>
                        <h1>
                            <a href="" ng-bind="bannerTopData[1].title"></a>
                        </h1>
                        <div class="tag-bottom clear">
                            <p>
                                <span class="glyphicon glyphicon-time"></span>
                                <span class="date" ng-bind="bannerTopData[1].date"></span>
                            </p>
                            <p>
                                <a href="" class="glyphicon glyphicon-thumbs-up"></a>
                                <a href="" class="glyphicon glyphicon-share"></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="banner-rt-bottom">
                    <a href="">
                        <img ng-src="{{bannerTopData[2].img}}" alt="picture">
                    </a>

                    <div class="over-modal">
                        <p class="tag-top" ng-bind="bannerTopData[2].label"></p>
                        <h1>
                            <a href="" ng-bind="bannerTopData[2].title"></a>
                        </h1>
                        <div class="tag-bottom clear">
                            <p>
                                <span class="glyphicon glyphicon-time"></span>
                                <span class="date" ng-bind="bannerTopData[2].date"></span>
                            </p>
                            <p>
                                <a href="" class="glyphicon glyphicon-thumbs-up"></a>
                                <a href="" class="glyphicon glyphicon-share"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content clear">
            <div class="lt">
                <div class="box" ng-repeat="item in perPageList">
                    <h2>
                        <a ui-sref="blogDetail({tag:item.tag})" ng-bind="item.title"></a>
                    </h2>
                    <div class="media">
                        <a href="" class="media-left">
                            <img ng-src="{{item.img}}" alt="picture">
                        </a>
                        <div class="media-body" ng-bind="item.description">

                        </div>
                    </div>
                    <div class="tag-bottom clear">
                        <p>
                            <span class="glyphicon glyphicon-time"></span>
                            <span class="date" ng-bind="item.date"></span>
                        </p>
                        <p>
                            <a href="" class="glyphicon glyphicon-thumbs-up"></a>
                            <a href="" class="glyphicon glyphicon-share"></a>
                        </p>
                    </div>
                </div>
                <nav>
                    <ul uib-pagination total-items="pageData.infoNum" ng-model="pageData.currentPage" max-size="5"
                        class="pagination-sm" boundary-links="true" force-ellipses="true" ng-change="pageData.getPage(pageData.currentPage)">
                    </ul>
                    <!--<ul class="pagination">-->
                        <!--<li ng-class="{true:'disabled'}[currentPage==1]">-->
                            <!--<a href="javascript:;" ng-click="getPage(1)">&laquo;</a>-->
                        <!--</li>-->
                        <!--<li ng-class="{true:'active'}[currentPage==page]" ng-repeat="page in pages">-->
                            <!--<a href="javascript:;" ng-bind="page" ng-click="getPage(page)"></a>-->
                        <!--</li>-->
                        <!--<li ng-class="{true:'disabled'}[currentPage==pageNum]">-->
                            <!--<a href="javascript:;" ng-click="getPage(pageNum)">&raquo;</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                </nav>
            </div>
            <aside class="rt">
                <div class="box" ng-repeat="key in bannerRightData">
                    <a href="">
                        <img ng-src="{{key.img}}" alt="picture">
                    </a>
                    <div class="aside-modal">
                        <h3>
                            <a href="" ng-bind="key.title"></a>
                        </h3>
                        <p ng-bind="key.description">

                        </p>
                    </div>
                    <div class="aside-bottom clear">
                        <p>
                            <span class="glyphicon glyphicon-time"></span>
                            <span class="date" ng-bind="key.date"></span>
                        </p>
                        <p>
                            <a href="" class="glyphicon glyphicon-thumbs-up"></a>
                            <a href="" class="glyphicon glyphicon-share"></a>
                        </p>
                    </div>
                </div>
            </aside>
        </div>
    </section>
</navigation>
