<navigation>
    <section class="blog-box">
        <h1 class="blog-tittle" translate="blog"></h1>
    </section>
    <section>
        <h1>
            blogDetail
        </h1>
    </section>
</navigation>