<navigation>
    <div class="contact-us">
        <h1 class="contact-me" translate="contact"></h1>
    </div>
    <section class="send-message">
        <div class="container">
            <h2 translate="send_us" class="send_us"></h2>
            <p class="info" translate="make_sure" class="make_sure"></p>
            <form ng-submit="sendMessage();" name="contact_form" method="" action="" novalidate="novalidate" role="form" class="send_form row">
                <div class="form-group col-sm-6 col-md-6 col-xs-12">
                    <textarea name="message" class="form-control" ng-class="{error: (contact_form.message.$dirty || submitted) && contact_form.message.$invalid}"
                              ng-model="message" title="Enter your message" ng-maxlength="300" required="required" ng-attr-placeholder="{{'pop_message'| translate}}"></textarea>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-xs-12">
                        <input type="text" class="form-control" name="name" ng-maxlength="20" ng-class="{error: (contact_form.name.$dirty || submitted) && contact_form.name.$invalid}" ng-model="name" title="Enter your name" required="required" ng-attr-placeholder="{{'your_name'| translate}}">
                        <input type="email" class="form-control" name="email" ng-maxlength="50" ng-class="{error: (contact_form.email.$dirty || submitted) && contact_form.email.$invalid}" type="email" ng-model="email" title="Enter your email" required="required" ng-attr-placeholder="{{'your_email'| translate}}">
                </div>
            </form>
            <div class="send_button row">
                <button class="btn common-btn reset " name="reset" type="reset" ng-click="reloading()" translate="reset" ></button>
                <button class="btn common-btn " name="submit" type="submit" ng-click="submitted=true" ng-disabled="contact_form.$invalid" translate="send_message"></button>
            </div>
        </div>
    </section>
    <section class="contact_address">
        <div class="container" ng-repeat="item in contacts">
            <div class="addr col-md-4">
                <h2 class="fa fa-map-o contact_address_icon"></h2>
                <p class="contact_address_content"><a href="javascript:void(0);"ng-init="changeMap(item)" ng-bind="item.location" ng-click="changeMap(item)"></a></p>
                <p ng-bind="item.info.address" class="contact_address_content" ></p>
            </div>
            <div class="contact col-md-4">
                <h2 class="fa fa-phone contact_address_icon"></h2>
                <p  ng-bind="item.info.contact" class="contact_address_content"></p>
                <p class="contact_address_content"><a  ng-attr-href="{{'emaillink'| translate}}" translate="email"></a></p>
            </div>

            <div class="week col-md-4">
                <h2 class="fa fa-clock-o contact_address_icon"></h2>
                <p class="contact_address_content">  Mon - Sat: 10:00 - 19:00</p>
                <p class="contact_address_content">Sunday CLOSED</p>
            </div>
        </div>
    </section>
    <div id="google_map" class="google-map"></div>
</navigation>
