<navigation about-scroll block-rise tagcloud logo-carousel>
    <section class="what-we-are">
        <div class="carousel-box" uib-carousel active interval="myInterval">
            <div uib-slide ng-repeat="slide in slides" index="slide.id">
                <img ng-src="{{slide.image}}">
            </div>
            <div class="carousel-caption">
                    <div class="home-box" ng-class="{fixed: showFixedHeader}">
                        <h5 translate="subtittle" class="sub-title"></h5>
                        <h1 translate="maintittle" class="main-tittle"></h1>
                        <h2 translate="slogan" class="slogan"></h2>
                        <a href="about" class="btn common-btn btn-left" translate="about_us"></a>
                        <a href="contact" class="btn common-btn btn-right" translate="hire_us"></a>
                    </div>
            </div>
        </div>

    </section>
    <section class="what-we-love" ng-class="{love:isRise}">
        <div class="container">
            <h2 translate="what_welove" class="what_we_love"></h2>
            <div class="media aboutprogress">
                <div class="media-left media-middle">
                    <img src="img/index-2.jpg" class="" alt="">
                </div>
                <div class="media-body" >
                    <div class="progress-group" ng-repeat="item in aboutprogress">
                        <p ng-bind="item.name" class="progress-item"></p>
                        <div class="uib-progressbar">
                            <uib-progressbar  value="item.value" type="info">
                                <span ng-hide="item.value < 5">{{item.value}}%</span>
                            </uib-progressbar>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="programming-manners row">
                <li class="end col-md-6 col-sm-6 col-xs-12">
                    <div class="illustration fa fa-bell-o"></div>
                    <p translate="love_one" class="love-content"></p>
                </li>
                <li class="col-md-6 col-sm-6 col-xs-12">
                    <div class="illustration fa fa-laptop"></div>
                    <p translate="love_two" class="love-content"></p>
                </li>
                <li class="col-md-6 col-sm-6 col-xs-12">
                    <div class="illustration fa fa-unlock"></div>
                    <p translate="love_three" class="love-content"></p>
                </li>
                <li class="col-md-6 col-sm-6 col-xs-12">
                    <div class="illustration fa fa-user"></div>
                    <p translate="love_four" class="love-content"></p>
                </li>
            </ul>
            <a href="/projectplan" title="submit your project plan to us" target="_self" translate="submit" class="sendProject"></a>
        </div>

    </section>
    <section class="what-we-can" ng-class="{love:isRiseCan}">
        <div class="container">
                <h2 translate="what_we_can" class="we-can-do"></h2>
                <ul class="programming-language">
                    <li ng-repeat="language in languages" ng-class="language.class" ng-bind="language.name"></li>
                </ul>
            <h2 translate="what_we_can_technology" class="hidden-xs what-we-can-technology">Technology We Used</h2>
            <ul class="programming-technology hidden-xs">
                <li class="animated infinite zoomIn" ng-style="{'-webkit-animation-duration': ($index+1) * 0.8 + 's'}||{'-moz-animation-duration': ($index+1) * 0.8 + 's'}||{'-o-animation-duration': ($index+1) * 0.8 + 's'}||{'-ms-animation-duration': ($index+1) * 0.8 + 's'}" ng-repeat="technology in technologies" ng-class="getTechClass(technology.familiarity)" ng-bind="technology.name"></li>
            </ul>
        </div>
    </section>
    <section class="how-we-manage" ng-class="{love:isRiseMan}">
        <div class="container">
            <h2 translate="manage_team" class="manage-team"></h2>
            <ul class="skill-container clearfix">
                <li ng-class="{love:isSlideLeftFirst}">
                    <h3 translate="team" class="manage-tittle"></h3>
                    <div class="media">
                        <div class="media-left hidden-sm hidden-xs">
                            <span class="fa fa-group hidden-xs manage-icon"></span>
                        </div>
                        <div class="media-body">
                            <ul class="skill-list">
                                <li ng-repeat="item in roles">{{item.name}}</li>
                            </ul>
                        </div>
                        <div class="media-right media-middle hidden-xs">
                            <img src="img/index-1.jpg"  alt="">
                        </div>
                    </div>
                </li>
                <li  class="skills" ng-class="{love:isSlideRightFirst}">

                    <h3 translate="skills" class="manage-tittle"></h3>
                    <div class="media">
                        <div class="media-left hidden-xs">
                            <img src="img/index-4.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <ul class="skill-list">
                                <li ng-repeat="item in skills">{{item.name}}</li>
                            </ul>
                        </div>
                        <div class="media-right hidden-sm hidden-xs">
                            <span class="fa fa-graduation-cap hidden-xs manage-icon"></span>
                        </div>
                    </div>
                </li>
                <li ng-class="{love:isSlideLeftSecond}">
                    <h3 translate="management" class="manage-tittle"></h3>
                    <div class="media">
                        <div class="media-left hidden-sm hidden-xs">
                            <span class="fa fa-tasks hidden-xs manage-icon"></span>
                        </div>
                        <div class="media-body">
                            <ul class="skill-list">
                                <li ng-repeat="item in management">{{item.name}}</li>
                            </ul>
                        </div>
                        <div class="media-right media-middle hidden-xs">
                            <img src="img/index-3.jpg" alt="">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</navigation>